<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>湖南省自来水公司营销管理信息系统 - 员工登陆</title>
    <link rel="stylesheet" href="/static/css/reset.css" type="text/css" media="screen" title="no title"/>
    <link rel="stylesheet" href="/static/css/text.css" type="text/css" media="screen" title="no title"/>
    <link rel="stylesheet" href="/static/css/form.css" type="text/css" media="screen" title="no title"/>
    <link rel="stylesheet" href="/static/css/buttons.css" type="text/css" media="screen" title="no title"/>
    <link rel="stylesheet" href="/static/css/login.css" type="text/css" media="screen" title="no title"/>
</head>
<body>
<div id="login_background">
    <div id="login">
        <h1>员工登陆</h1>
        <div id="login_panel">
            <form action="/syEmp/login" method="post">
                <div class="login_fields">
                    <div class="field">
                        <label for="empno">员工工号：</label>
                        <input type="text" name="empno" value="" id="empno" tabindex="1" placeholder="请输入您的员工编号" required="required" maxlength="20"/>
                    </div>

                    <div class="field">
                        <label for="pwd">登陆密码： </label>
                        <input type="password" name="pwd" value="" id="pwd" tabindex="2" placeholder="请输入您的密码" required="required" maxlength="20"/>
                    </div>
                </div> <!-- .login_fields -->

                <div class="login_actions">
                    <button type="submit" class="btn btn-orange" tabindex="3">登陆</button>
                </div>
            </form>
        </div> <!-- #login_panel -->
    </div>
    <!-- #login -->
</div>
</body>
</html>